body {
    width: 300px;
    height: 400px;
}

header {
    text-align: center;
    width: auto;
    margin-top: 1 em;
    margin-bottom: 1 em;
}

.button {
    border: black solid 1px;
    background-color: gray;
    padding: 0.5em;
}

.button-container {
    display: grid;

}