{% extends 'base.html' %} {% block content %}
<div class="urlBar">
  <img src="static/kabanoslogo.png" alt="Logo" />
  <h1>KABANOS</h1>
  <div class="typeField">
    <form method="POST">
      <input
        type="text"
        name="domain"
        placeholder="Wklej lub wpisz tu link do strony"
      />
      <button>Sprawdź stronę</button>
    </form>
  </div>
</div>
<div class="liveFeed">
  <div class="stats">
    <div class="statsTitle">
      <h1 class="titleSymbol">*</h1>
      <h1>Statystyki</h1>
    </div>
    <div
      class="statsGraph"
      style="
        background-image: linear-gradient(
          to right,
          #60d394,
          #60d394 33%,
          #ee6055 33%,
          #ee6055 66%,
          #ffd97d 66%,
          #ffd97d
        );
      "
    ></div>
    <div class="statsContent">
      <div class="safeItems">Bezpieczne strony: <span>1</span></div>
      <div class="unsafeItems">Niebezpieczne strony: <span>1</span></div>
      <div class="unsureItems">
        Strony z nieznanym statusem bezpieczeństwa: <span>1</span>
      </div>
    </div>
  </div>
  <h2 class="feedTitle">Ostatnio sprawdzone strony</h2>
  <div>{{ liveFeedItem('stronka 1', '2 minuty temu', 'feedSafe') }}</div>
  <div>{{ liveFeedItem('stronka 2', '3 godziny temu', 'feedUnsafe') }}</div>
  <div>{{ liveFeedItem('stronka 3', '7 godzin temu', 'feedUnsure') }}</div>
</div>
{% endblock %}
